{% extends "index.html" %}

{% block content %}
<main class="homeContainer container">
    <div class="libraryList">
        <nav>
            <h4>Favourate ({{ show_count[2].count }})</h4>
            <div>
                <a href="/show/Want" class="badge text-bg-light nav-badge position-relative">
                    watch Later
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ show_count[0].count }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </a>
                &ensp;
                <a href="/show/Watching" class="badge text-bg-light nav-badge position-relative">
                    watching
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ show_count[1].count }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </a>
                &ensp;
                <a href="/show/Watched" class="badge text-bg-light nav-badge position-relative">
                    watched
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ show_count[2].count }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </a>
            </div>
        </nav>
        {% for show in watched_shows %}
        <div class="listBox">
            <div class="listBoxLeft">
                <img src="{{ show.poster }}" alt="" class="movie-box-img">
            </div>
            <div class="listBoxMid">
                <h4><a href="#"><span id="movie-title-color">{{ show.title }} ({{ show.year }})</span></a></h4>
                <div class="listBoxMidTiny">
                    <p><span class="badge rounded-pill text-bg-warning">{{ show.country }}</span></p>&ensp;<p><span class="badge rounded-pill text-bg-warning">{{ show.runtime }}</span></p>&ensp;<p><span class="badge rounded-pill text-bg-warning">{{ show.genre }}</span></p>
                </div>
                <div class="listBoxMidButton">
                    <a href="#" class="want-btn" data-bs-toggle="modal" data-bs-target="#Want_modal"><i class='bx bx-plus'></i></a>
                    {% if show.type == "movie" %}
                    <a href="/move_movie_to_watching/Watching/{{ show.status }}/{{ show.id }}" class="watching-btn"><i class='bx bx-play'></i></a>
                    {% endif %}
                    {% if show.type == "series" %}
                    <a href="#" class="watching-btn" data-bs-toggle="modal" data-bs-target="#Watching_modal"><i class='bx bx-play'></i></a>
                    {% endif %}
                    <a href="#" class="delete-btn" data-bs-toggle="modal" data-bs-target="#remove_modal"><i class='bx bx-x'></i></a>
                </div>
                <!-- modal here -->
                <!-- for user to move to watch later -->
                <form action="/move_show_to_other_status/Want/{{ show.status }}/{{ show.id }}" method="post">
                    <div class="modal fade" id="Want_modal" role="dialog">
                        <div class="modal-dialog modal-sm modal-dialog-centered">
                            <div class="modal-content" style="background: rgb(26, 25, 25);">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title">Watch later</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                        <a class="btn btn-light" data-bs-dismiss="modal">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- for user to select season and episode -->
                <form action="/move_show_to_other_status/Watching/{{ show.status }}/{{ show.id }}" method="post">
                    <div class="modal fade" id="Watching_modal" role="dialog">
                        <div class="modal-dialog modal-sm modal-dialog-centered">
                            <div class="modal-content" style="background: rgb(26, 25, 25);">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title">Watching...</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <label for="modal-season" class="form-label">Season</label>
                                    <input type="number" class="form-control" id="modal-season" name="season" value="">
                                    <label for="modal-episode" class="form-label">Episode</label>
                                    <input type="number" class="form-control" id="modal-episode" name="episode" value="">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- for user to remove the show -->
                <form action="/move_show_to_other_status/remove/{{ show.status }}/{{ show.id }}" method="post">
                    <div class="modal fade" id="remove_modal" role="dialog">
                        <div class="modal-dialog modal-sm modal-dialog-centered">
                            <div class="modal-content" style="background: rgb(26, 25, 25);">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title">Remove</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <button type="submit" class="btn btn-danger">Confirm</button>
                                        <a class="btn btn-light" data-bs-dismiss="modal">Close</a>
                                    </div>
                                </div>
                                <!-- <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </form>
                <!-- modal end -->
            </div>
            <div class="listBoxRight d-flex flex-column justify-content-center">
                <div >
                    <span class="list-box-rating">My Rating:</span>  <span class="rate-section">{{ show.user_rating }}/10 </span><i class='bx bxs-star' style='color:#e8ce21; font-size: 1.2rem;'></i>
                </div>
                <div >
                    <span class="list-box-comment"> Comment:</span> <br> <span class="rate-section">{{ show.comment }}</span>
                </div>
                <p><span class="badge text-bg-secondary">Watched in: {{ show.created_at.strftime('%Y-%m-%d') }}</span></p>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}