{% extends "index.html" %}

{% block content %}
<main class="homeContainer container">
    <div class="libraryList">
        <nav>
            <h4>Watching ({{ show_count[1].count }})</h4>
            <div>
                <a href="/show/Want" class="badge text-bg-light nav-badge position-relative">
                    watchlist
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ show_count[0].count }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </a>
                &ensp;
                <a href="/show/Watched" class="badge text-bg-light nav-badge position-relative">
                    watched
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ show_count[2].count }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </a>
            </div>
        </nav>
        {% for show in watching_shows %}
        <div class="listBox">
            <div class="listBoxLeft">
                <img src="{{ show.poster }}" alt="" class="movie-box-img">
            </div>
            <div class="listBoxMid">
                <h4><a href="/show/selected/{{ show.id }}"><span class="movie-title-color">{{ show.title }} ({{ show.year }})</span></a></h4>
                <div class="listBoxMidTiny" style="margin-bottom: -10px;">
                    {% if show.country | length > 25 %}
                        <p style="font-size: 0.8rem;">{{ show.country }}</p>
                    {% else %}
                        <p><span class="badge rounded-pill text-bg-light">{{ show.country }}</span></p>
                    {% endif %}
                </div>
                <div class="listBoxMidTiny yello-tiny">
                    <p><span class="badge rounded-pill text-bg-warning">{{ show.runtime }} </span></p>
                    <p><span class="badge rounded-pill text-bg-warning"> {{ show.genre }}</span></p>
                </div>
                <div class="listBoxMidButton">
                    <a href="#" class="want-btn" data-bs-toggle="modal" data-bs-target="#Want_modal{{ show.id }}" data-toggle="tooltip" data-placement="bottom" title="Add to watchlist"><i
                            class='bx bx-plus'></i></a>
                    <a href="#" class="watched-small-btn" data-bs-toggle="modal" data-bs-target="#Watched_modal{{ show.id }}" data-toggle="tooltip" data-placement="bottom" title="Add to watched">
                        <i class='bx bxs-message-dots'></i></a>
                    <a href="#" class="delete-btn" data-bs-toggle="modal" data-bs-target="#remove_modal{{ show.id }}" data-toggle="tooltip" data-placement="bottom" title="Remove"><i
                            class='bx bx-x'></i></a>
                </div>
                <!-- modal here -->
                <!-- for user to move to watch later -->
                <form action="/move_show_to_other_status/Want/{{ show.status }}/{{ show.id }}" method="post">
                    <div class="modal fade" id="Want_modal{{ show.id }}" role="dialog">
                        <div class="modal-dialog modal-sm modal-dialog-centered">
                            <div class="modal-content" style="background: rgb(26, 25, 25);">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title">Watch later</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                        <a class="btn btn-light" data-bs-dismiss="modal">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- for user to comment and rate -->
                <form action="/move_show_to_other_status/Watched/{{ show.status }}/{{ show.id }}" method="post">
                    <div class="modal fade" id="Watched_modal{{ show.id }}" role="dialog">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content" style="background: rgb(26, 25, 25);">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title">How was it?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <label for="modal-rating" class="form-label">Rate</label>
                                    <input type="number" class="form-control" id="modal-rating" name="user_rating" value="">
                                    <label for="modal-comment" class="form-label">Comment</label>
                                    <textarea name="comment" class="form-control" id="modal-comment" cols="30" rows="4"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- for user to remove the show -->
                <form action="/move_show_to_other_status/remove/{{ show.status }}/{{ show.id }}" method="post">
                    <div class="modal fade" id="remove_modal{{ show.id }}" role="dialog">
                        <div class="modal-dialog modal-sm modal-dialog-centered">
                            <div class="modal-content" style="background: rgb(26, 25, 25);">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title">Remove</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <button type="submit" class="btn btn-danger">Confirm</button>
                                        <a class="btn btn-light" data-bs-dismiss="modal">Close</a>
                                    </div>
                                </div>
                                <!-- <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </form>
                <!-- modal end -->
            </div>
            <div class="listBoxRight d-flex flex-column justify-content-end">
                {% if show.type == "series" %}
                <p><span class="badge text-bg-light">Season: {{ show.season }}</span>
                    <span class="badge text-bg-warning">episode: {{ show.episode }}</span>
                </p>
                {% endif %}
                <p><span class="badge text-bg-secondary">Watching in: {{ show.created_at.strftime('%Y-%m-%d') }}</span>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}